// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1 {
  font-weight: 700;
  @include heading-font;
}

h2,
h3,
h4,
h5,
h6 {
  @include subheading-font;
}


// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
