{namespace neos=Neos\Neos\ViewHelpers}
<footer {attributes -> f:format.raw()}>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Kontakt</h2>
                <p>Telefon: {contactPhone} </br>
                Mail: {contactMail}</p>
                <p>{contactAddress -> f:format.raw()}</p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2>Social</h2>
                <div class="social-icons">
                    <a href="{socialFacebook}">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <f:for each="{subPages}" as="subPage">
                    <neos:link.node node="{subPage}">{subPage.properties.title}</neos:link.node>
                </f:for>
            </div>
        </div>
    </div>
</footer>
